/* Your code goes below here */

#main-heading {   /* This is an id */
    color: red;
  }
  
#paragraph-tag {
    color: red;
}

  .font-blue {      /* This is a class */
    color: blue;
  }  

  .list-container {
    Padding:30px;
    background: aquamarine;
    border: 1px solid green;
    border-radius: 25px;

  }
  /* Your code goes above here */